<div class="row">
  <div class="col-md-12 col-12 d-flex flex-column align-items-center">
    <h1 class="text-center">Tasks</h1>
    <div class="text-center">
      <button #childModal type="button" class="btn btn-light m-3" data-toggle="modal" data-target="#exampleModal">Add Task</button>
    </div>
    <div class="task-list d-flex flex-column">
      <div class="list-group m-1" *ngFor="let task of tasks">
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1" title="{{task.title}}">{{task.title | slice:0:20}}</h5>
            <small></small>
          </div>
          <div class="d-flex justify-content-between">
            <small title="{{task.description}}">{{task.description | slice:0:26}}...</small>
            <div class="btn-group">
              <button (click)="checked(task.id)" type="button" class="btn btn-light">
                <img *ngIf="task.status; then on else off">
              </button>
              <button type="button" class="btn {{ task.status ? 'btn-success' : 'btn-danger'}} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <span class="dropdown-item" (click)="update(task)">Edit</span>
                <span class="dropdown-item" (click)="delete(task.id)">Delete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" data-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="cancel()">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="form-group">
              <label for="titletag">Title</label>
              <input formControlName="title" type="text" class="form-control" id="titletag" aria-describedby="titleHelp">
              <small hidden id="titleHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label>Descrição</label>
              <div class="input-group">
                <textarea formControlName="description" class="form-control" aria-label="With textarea"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button  (click)="cancel()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="saveOrUpdate()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #off>
    <img src="./assets/image/double-tick-off.png" height="24" width="24">
</ng-template>

<ng-template #on>
    <img src="./assets/image/double-tick-on.png" height="24" width="24">
</ng-template>
